<div  class="container">
<h1><%= @list.name %></h1>
<hr>

<% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= bookmark.comment %>
<% end %>
  <p>
   <small> <%= link_to "Go back to List", lists_path %></small>
  </p>

  <hr>

<%# <%= link_to "add new bookmark", new_list_bookmark_path %> %>
